<div id="section-contact-settings" class="col-12 col-lg-8 install-section__item mb-lg-3" style="display: none;">
    <div class="pb-0">
      <%- include('contacts/config-contact-header') -%>
      <%- include('contacts/config-contact-main-no-rows') -%>
      <%- include('contacts/config-contact-main-with-rows') -%>
      <%- include('contacts/config-contact-add-form') -%>
      <%- include('contacts/config-contact-edit-form') -%>
      <%- include('contacts/config-contact-delete-modal') -%>
    </div>
</div>