<div id="section-group-settings" class="col-12 col-lg-8 install-section__item mb-lg-3" style="display: none;">
    <div class="pb-0">
      <%- include('groups/config-group-header') -%>
      <%- include('groups/config-group-main-no-rows') -%>
      <%- include('groups/config-group-main-with-rows') -%>
      <%- include('groups/config-group-add-form') -%>
      <%- include('groups/config-group-edit-form') -%>
      <%- include('groups/config-group-delete-modal') -%>
  </div>
</div>